.cm-s-material {
	background: rgb(46, 51, 54);
	color: #ddd;
	width:100%;
	margin-top:5px;
	font-family: Consolas;
	font-size: 13px;
	z-index: 99;
}

.cm-s-material div.CodeMirror-selected {
	background: #49483E !important;
}

.cm-s-material .CodeMirror-gutter {
	background: rgb(41, 46, 49);
	border-right: 0px;
	padding-right: 5px;
	z-index: 2;
}

.cm-s-material .CodeMirror-gutter-text {
	color: #666;
}

.cm-s-material .CodeMirror-cursor {
	border-left: 1px solid #f8f8f0 !important;
}

.cm-s-material .cm-keyword {
	color: rgba(199, 146, 234, 1);
}

.cm-s-material .cm-operator {
	color: rgba(233, 237, 237, 1);
}

.cm-s-material .cm-variable-2 {
	color: #80CBC4;
}

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
	color: #82B1FF;
}

.cm-s-material .cm-builtin {
	color: #DECB6B;
}

.cm-s-material .cm-atom {
	color: #F77669;
}

.cm-s-material .cm-number {
	color: #F77669;
}
.cm-s-material .cm-def {
	color: rgba(233, 237, 237, 1);
}

.cm-s-material .cm-string {
	color: #C3E88D;
}

.cm-s-material .cm-string-2 {
	color: #80CBC4;
}

.cm-s-material .cm-comment {
	color: #546E7A;
}

.cm-s-material .cm-variable {
	color: #82B1FF;
}

.cm-s-material .cm-tag {
	color: #80CBC4;
}

.cm-s-material .cm-meta {
	color: #80CBC4;
}

.cm-s-material .cm-attribute {
	color: #FFCB6B;
}

.cm-s-material .cm-property {
	color: #80CBAE;
}

.cm-s-material .cm-qualifier {
	color: #DECB6B;
}

.cm-s-material .cm-variable-3, .cm-s-material .cm-type {
	color: #DECB6B;
}

.cm-s-material .cm-tag {
	color: rgba(255, 83, 112, 1);
}

.cm-s-material .cm-error {
	color: rgba(255, 255, 255, 1.0);
	background-color: #EC5F67;
}
.cm-s-material .CodeMirror-matchingbracket {
	text-decoration: underline;
	color: white !important;
}