body {
	margin:0;
	background:transparent;
	border:none;
}

::-webkit-scrollbar { 
    display: none; 
}

@keyframes fadeout {
    from {
        opacity:0.5;
    }
    to {
        opacity:0;
    }
}

.header-arrow {
	position: absolute;
	top: 2px;
	left: 50%;
	margin-left: -5px;
	height: 10px;
	width: 10px;
	transform: rotate(45deg);
	background-color: #404040;
	margin-bottom:5px;
}

.wrapper {
	margin-top:5px;
}

/* Top Nav */

nav {
	padding:2px;
	background-color:#404040;
	padding-left:10px;
	cursor:default;
	position:fixed;
	width:100%;
	z-index:3;
}

nav img {
	width:17px;
	padding:2px 2px 0 2px;
	cursor:pointer;
}

nav img:hover {
	opacity:0.5;
}

.refresh, .quit {
	float:right;
}

.quit {
	margin-right:15px;
}

/* Editor Section */

#editor {
	width:100%;
	height:100%;
	position:fixed;
	background-color:#181818;
	z-index:1;
	overflow-x: hidden;
	overflow-y: hidden;
	cursor:text;
}

#editor #open-dialog {
	color:#aaa;
	opacity:0.5;
	font-family:sans-serif;
	font-size:30px;
	position: absolute;
	left:0; 
	right:0;
	top:0; 
	bottom:0;
	margin:55% 15% 0 20%;
	animation: fadeout 2s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	-webkit-user-select: none;
	z-index:10;
}

/* Bottom Bar */

.bottom {
	height:20px;
	width:100%;
	display:block;
	background-color:gray;
	position:fixed;
	bottom:0;
	background-color:#444;
	z-index:3;
}

.bottom #title, .bottom #mode {
	margin-left:30px;
	font-size:11px;
	color:#aaa;
	font-family:sans-serif;
	top:-8px;
	position:absolute;
}

.bottom #mode {
	right:10px;
}

.bottom img {
	width:13px;
	top:0;
	margin:3px 0 0 8px;
}

/* Flash */

.flash {
	animation: flash 0.3s ease-in-out;
}

@keyframes flash {
	0%     {background-color:#404040;}
    100%  {background-color:#606060;}
}
